<li class="list-group-item">
  <p><%= link_to question.description, [:admins, question] %></p>
  <div>
    <%= link_to t("button.edit"), edit_admins_question_path(question) %> | 
    <%= link_to t("button.delete"), admins_question_path(question), data: {method: :delete, confirm: t("admin.label.confirmation")} %>
  </div>
</li>
