<li id="questions" class="list-group-item">
  <p><%= link_to user.username, [:admins, user] %></p>
  <div>
    <%= link_to t("button.delete"), admins_user_path(user), data: {method: :delete, confirm: t("admin.label.confirmation")} %>
  </div>
</li>
