<div class="col-sm-8 col-sm-offset-2">
  <h2><%= t("admin.title.all_user") %></h2>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  <ul class="list-group">
    <%= render @users %>
  </ul>
</div>
